body {
    box-sizing: border-box;
    width: 100%;
    font-family: monospace;
    margin: 0;
    padding: 0;
    background: black;

}
header {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 0;
    background: whitesmoke;
    color: white;
    justify-content: space-between;
}
.body-img {
    color: pink;
    width: 100vw;
    box-sizing: border-box;
    background-position: center;
    background-size: cover;
    background-image: url(/background.jpg);
}
section {
    margin-top: 0;
}
.logo {
    text-shadow: 0px 2px 5px black;
    max-width: 600px;
}
.welcome {
    margin: 0;
    color: rgb(95, 95, 129);
    text-shadow: 0 2px 6px white;
    padding-bottom: 20px;
}
li {
    list-style-type: none;
    color: rgb(52, 51, 51);
    font-weight: bold;
    text-shadow: 0 2px 6px white;
}

.img {
    display: grid;
    height: 350px;
    width: 350px;
    object-fit: cover;
    box-sizing: border-box;
    background-position: 20% 50%;
}
nav {
    display: inline-block;
    justify-self: flex-end;
    font-size: larger;
    font-weight: bold;
    padding-top: 25px;
    padding-right: 10px;


}
a {
    text-transform: capitalize;
    color: rgb(95, 95, 129);
    
}
article {
    color: white;
    font-size: 20px;
    margin: 0 auto;
    width: 90vw;
}
.images {
    margin: 0 auto;
    width: 90vw;
    display: grid;
    grid-template-columns: 400px 400px; 
    justify-content: space-between;
    row-gap: 20px;
    
}
@media screen and (max-width: 700px) {
     nav {
         padding-right: 0;
        
    }
    .images {
        grid-template-columns: none;
        justify-content: center;
    }
    .img {
        width: 400px;
    }
}
#contact {
    font-weight: bold;
    width: 95vw;
    font-size: 20px;
    letter-spacing: 2px;
    background: black;
    color: whitesmoke;
    display: block;
    margin: 0 auto;
}
    
